@import "reset.css";
@import "normalize.css";
@import "menu-burger";
@import "header";
@import "main";
@import "footer";
body{
  font: 1.2em/14px Roboto,sans-serif;
}
*{box-sizing: border-box}
.container{
  width: 1160px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container{
    width: 100%;
    padding: 0 3px;
  }
}


